<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Chat</title>
    <!-- <link rel="stylesheet" href="/style.css" /> -->
  </head>
  <body>
    <h2>Create New Chat</h2>
    <form method="post" action="/chats">
      <input placeholder="who are you?" name="from" />
      <br /><br />
      <textarea name="msg">write your message here...</textarea>
      <br /><br />
      <input placeholder="add receiver" name="to" />
      <br /><br />
      <button>Create Chat</button>
    </form>
  </body>
</html>
