* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monospace";
}

html,
body {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
}
.box {
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}
.content {
  padding: 15px 20px;
  background-color: lightblue;
  border-radius: 20px;
}
.msg {
  padding: 15px 10px;
  background-color: aqua;
  border-radius: 10px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 10px;
}
